.clickable {
    cursor: pointer;
}

#container {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	width: 800px;
}
.taskInstructions {
    text-align: justify;
}
.taskInstructions table.pre {
    margin: 10px auto;
}
.taskInstructions table.pre td {
    padding: 4px 10px;
}
.taskInstructions .list-unstyled {
    padding-left: 30px;
}
.text-bold {
    font-weight: bold;
}
.taskWrapper .taskInstructions {
    padding-top: 30px;
    position: relative;
}
label {
    font-weight: normal;
}
button + button {
    margin-left: 3px;
}

.panel-heading {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  font-weight: bold;
}

/*

    Task Header

*/
.submitBlock, .scoreBlock, .feedbackBlock, .saveBlock {
    display: inline-block;
    line-height: 34px;
    margin: 0 10px 0 0;
}
.scoreBlock, .feedbackBlock {
    background: #f8f8f8;
    padding: 0 8px;
}
.feedbackBlock {
    cursor: pointer;
}

/*

    Tools generic elements

*/
.toolDescription {
    margin-bottom: 10px;
}
.charPair {
    display: inline-block;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    font-weight: bold;
}

.toolDescription {
    font-weight: bold;
}
/*

    Tool Text

*/
.cipherTextBox {
    overflow-y: scroll;
    border: 1px solid #333;
    padding: 5px;
    height: 277px;
}
.cipherTextCharPair {
    margin-bottom: 10px;
    margin-right: 2px;
}
.cipherTextCharPair {
    border: 1px solid #ccc;
    padding: 4px 3px;
}
.cipherTextView .cipherTextSymbol,
.cipherTextView .cipherTextLetter {
    cursor: default;
}

/*

    Tool Substitution and Hints

*/
.substitutionView .panel-body {
    position: relative;
}
.hintsDialog {
  width: 200px;
  max-width: 400px;
  background: #f0f0f0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}
.hintsDialog p {
    margin-bottom: 5px;
}
.hintsDialog button + button {
    margin-left: 10px;
}

.highlightButton {
    width: 18px;
    height: 20px;
    padding: 0px;
}

.substitutionBox {
    width: 520px;
}
.substitutionEditCharPair {
    margin-bottom: 3px;
    margin-right: 2px;
    height: 81px;
    vertical-align: top;
}
.substitutionEditSymbol.pairTop {
    border: 1px solid #ccc;
    padding: 4px 3px;
}
.substitutionEditLetter {
    text-align: center;
}
.substitutionLetterInput {
    width: 28px;
    text-align: center;
    margin-top: 1px;
    display: block;
    border: 1px solid #ccc;
    background-color: transparent;
}
.substitutionLetterInput[readonly] {
    border: 1px solid #eee;
}

/*

    Tool Search and Highlight

*/
.symbolHighlightSearch .toolDescription {
    float: left;
}
.higlightPalette {
    float: right;
    margin-bottom: 10px;
}
.higlightPalette .color {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}
.higlightPalette .color.selected {
    border-color: #000;
}
.symbolHighlightSearch,
.bigramsHighlightSearch {}
.toolBox {
    display: table;
    margin-bottom: 10px;
    clear: both;
}
.highlightToggleBox,
.highlightBigramsBox {
    width: 550px;
    display: table-cell;
    vertical-align: top;
}
.highlightCharPair {
    border: 1px solid #ccc;
    margin-right: 2px;
    margin-bottom: 3px;
    padding: 4px 3px;
    cursor: pointer;
}
.highlightCharPairSelected {
    background-color: #ccf;
}
.pairHighlightedToggle  {
    background-color: lightgreen;
}
.pairHighlightedBigram {
    background-color: yellow;
}
.highlightBigramSymbolDiv, .highlightBigramLetterDiv {
    width: 50px;
    display: inline-block;
    text-align: center;
}
.highlightBigramSymbolDiv input {
    width: 40px;
}
.highlightBigramLetterDiv input {
    width: 30px;
}
.searchDiv {
    display: inline-block;
}
.isSearched {
    border: 2px solid red;
    margin: -1px 1px 9px -1px;
}
.bigramsHighlightSearch .toolLabel {
    display: inline-block;
    width: 12em;
}
.highlightBigramSymbolDiv {
    margin-bottom: 3px;
}

/*

    Tool Analysis

*/
.analysisBox {
    height: 300px;
    overflow-y: scroll;
}
.analysisBox td {
    padding: 5px 0;
}
.analysisBox-before {
    text-align: right;
}
.analysisBox-center {
    width: 40px;
}
.analysisBox-before,
.analysisBox-after {
    width: 321px;
}
.analysisTriplet {
    display: inline-block;
    text-align: center;
}
.analysisBox-center .analysisTriplet {
    margin-right: 10px;
    margin-left: 10px;
}
.analysisSmallBox {
    border: 1px solid black;
    padding: 3px;
    height: 70px;
}
.analysisSmallBox .analysisTriplet {
    width: 26px;
}
.analysisCharPair {
    border: 1px solid #ccc;
    padding: 0 2px;
}
.analysisSmallBox .analysisTriplet {
    margin: 0;
}
.analysisSmallBox .analysisCharPair {
    font-size: 14px;
    font-weight: normal;
    padding: 0 2px;
}

/* Temporary rules */

.charPair.isLocked {
    background-color: #eee;
    position: relative;
}
.charPair.isHint {
    background-color: #ccc;
}
.charPair.isLocked::after {
    content: "\F13E";
    font-family: FontAwesome;
    font-size: 9px;
    position:  absolute;
    bottom: -2px;
    right: 1px;
}